#divone,#divtwo,#divthree{
    margin:0px 50px 0px 60px;
    background-color:beige;
    width:300px;
    float:left;
    text-align: justify;
    height:700px;
    
}

#divone{
   overflow:hidden;
   
}

#divtwo{
    overflow:auto;
      
}
#divthree{
    overflow:hidden;
   
}