*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #e4e7e5;
}
.active{
    color:#89FFE9;
}
.container,.backpic,#bal{
    width:1020px;
    margin: 0 auto;
}
/*.right{float: right}*/
header{
    background: #626262;
    display: flex;
}
nav{
    color: #fff;
    display: flex;
    justify-content: right;
    padding: 10px 0;
    flex-wrap:wrap;
}
#logo{flex-grow: 2;}

#logo>i,nav i,.info i,.address i,.social i{
    padding-right: 5px;
}
.slider .item {
	background: url(images/UaBq5LGpJQd3DDo6ve2dFW.png) no-repeat ;
	height: 400px;
	margin-bottom: 14px;
	color: white;
    background-size: 100% 100%;
}
.backpic{
    padding-top: 92px;
}
.backpic button {
	width: 100px;
	height: 40px;
	margin-top: 60px;
	border-radius: 10px;
	background-color: orange;
}

#dropdown ul{
    display: none;
}
#dropdown:hover ul{
    display: block;
    z-index: 9999;
    position: absolute;
    list-style: none;
}

nav a:hover,.post button:hover,.social i:hover,.address p:hover,.address a:hover{
    color:#89FFE9;
}

nav a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
    width: 120px;
    height: 30px;
    padding-top:6px;
    background-color: #626262;
    text-align: center;
}
.post{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
.post article{
    max-width: 30%;
    margin:1.53%;
}
.post h2{margin: 10px 0;}
.post article p{
    text-align: justify;
}
.post img {
	width: 100%;
	border-radius: 35px;
	box-shadow: 6px 6px #c1bdbd;
}
.post button {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	background: #626262;
	color: #fff;
    border-radius: 35px;
}
footer {
	background: #626262;
	color: #fff;
    display:flex;
}
.footer{
    display: flex;
    justify-content:space-between;
    padding: 29px 0;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.footer div{
    text-align: center;
}
.footer p{
    line-height: 150%;
}
.social i{
    color: #fff;
    font-size: 35px;
}
.footer h2{
    padding-bottom:10px;
}
.address a{
    text-decoration: none;
    color:#fff;
}

@media only screen and (max-width: 768px){
    
    nav{
        flex-direction: column;
        align-content: center;
    }
    
}
@media only screen and (max-width: 480px) {
  
    .post{
        flex-direction: column;
    }
    .post article{
        flex-grow: 1;
        max-width: 98%;
        margin:2% 1%; 
    }
  
}
@media only screen and (max-width: 621px){
    
    .footer{
        flex-direction: column;
        align-content: center;
    }
    
}