*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.maindiv{
    background:red;
    height:200px;
    margin:10px;
    flex-wrap: wrap;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
    align-content:space-between;
    
    
}
.maindiv div{
    background:blue;
    text-align: center;
    padding:20px;
    color:red;
    margin:2px;
    border:5px yellow solid;
			
}