*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
i{
    margin-right: 4px;
}
span{
    color:orange;
}
.headtopback{
    background: #d8cfcfa3;
}
.headtopback>.headtop>a{
    margin:;
    padding:;
    width: ;
    height:;
}
.float,#footer div{
    float: left;
}
}
.flot, nav .list{
    float:right;
}
.float{
    padding-top:9px;
}
.possitionmiddel,.backpic,footer div,.headtop{
    width:1020px;
    margin:0 auto;
}
header{
    background: white;
    height: 50px;
}
nav li{
    list-style: none;
}

nav>ul>li{
    display: inline-block;
    position: relative;
    float: right;
}
nav a p-{
	text-decoration:none;
	display: inline-block;
	width: 120px;
	height: 30px;
	text-align: center;
    padding-top: 17px;
}
nav a:hover ,.content button{
    color:orange;
}
#backpic{
    background-image: url(pics/UaBq5LGpJQd3DDo6ve2dFW.png);
    height:400px;
    margin-bottom:14px;
    color:white;
}
.backpic{
    padding-top:92px;
    
}
#backpic button{
    width:100px;
    height: 40px;
    margin-top:60px;
    border-radius:10px;
    background-color:orange;
}
#backpic button:hover,.content button:hover{
    
    background-color:antiquewhite;
}
}
div p{
    margin-top:10px;
}
div button{
    margin-top: 25px;
    
}
div h2{
    font-weight: 900;
 }

.content .float{
    width:30%;
    margin: 17px;
    text-align: justify; 
}
.firstthree{
    
}
.content img{
    width:100%;
    height:272px;
    margin-top:40px;
}
.content h3{
    margin-bottom:20px;
}
.content button{ 
    width:100%;
    height: 40px;
    border-radius:10px;
    margin-top:20px;
    padding-right:28px;
    background-color:orange;
 
}

#four{
    height:300px;
    
}
footer > div > div {
	float: left;
	width: 21.6%;
	margin: 17px;
}
footer {
	background: orange;
	color: #fff;
	clear: both;
	height: 200px;
}
footer div{
    text-align: center;
     }

