.one{
    min-width:50px;
    height:200px;
    background-color:lawngreen;
    color:darkblue;
    padding:10px 10px;
    margin:5px 4px;
    box-sizing:border-box;
    border:double 5px black;
    overflow:auto;
    text-align:center;
    position:fixed;
    z-index:2;
    visibility: visible;
    text-align:justify;
    text-decoration-style: dashed;
    text-decoration-color: yellow;
    text-decoration-line:overline;
	display:inline-block;
   
}


.two{
    width:300px;
    height:200px;
    background-color:darkviolet;
    padding:10px 12px;
    margin:240px 5px ;
    box-sizing:content-box;
    border-style: dotted dashed solid double;
    border-width:10px;
    border-color:aqua;
    overflow-x:hidden;
    overflow-y:scroll;
    text-align: left;
    float:left;
    clear:both;
    position:relative;
    z-index:1;
    visibility: visible;
    text-align:end;
    text-shadow:3px 3px 3px  yellow;
}
.three{width:200px;
    height:200px;
    background-color:orangered;
    padding:10px 10px;
    margin:240px 5px;
    box-sizing:border-box;
    border:double 5px black;
    overflow:auto;
    position:relative;
    z-index:3;
    display:inline-block;
    visibility: visible;
    text-align:start;
    text-shadow:3px 3px 3px  yellow;
    
}