*{
    margin:5px 0px 5px 0px;
    padding:0;
    
}
#startTest{
    display: none;
}
body{
    width:500px;
    margin:0 auto;
    text-align: center;
    background-color:aqua;
}
div{
    background-color: aquamarine;
    font-size:20px;
    padding-top:10px;
}

textarea{
    width:80%;
    height:73px;
    
}