*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ashik,#nahid,#based{
    height: 150px;
    width:250px;
    margin:10px;
    border:2px solid red;
}

#ashik{
    background-image: linear-gradient(red,green,blue);
    animation: fadeIn 5s;
}
#nahid {
    background-image: radial-gradient(circle, red 30%,green 14%);
    animation: rotateOut 5s;
}

#based{
    position:relative;
    background-image: linear-gradient(to top, red,green,blue);
    animation: slideOutRight 5s;
    
}