*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.right{
    float:right;
}
.left{
    float: left;
}
.allsize{
    width:1020px;
    margin:0 auto;
}
#home{
    color:white;
}
header{
    background:skyblue;
    height:50px;
    border-bottom:solid 1px blue;
}
nav ul{
    list-style: none;
    background:skyblue;
}
nav>div>ul>li{
    display: inline-block;
    position: relative;
}
nav>.normal>ul>li>ul{
    position: absolute;
    top:35px;
}

nav a{
    text-decoration: none;
    display:inline-block;
    width:102px;
    height: 38px;
    padding-top:12px;
    text-align: center;
}
nav ul li a:hover{
    color:white;
}
.ul{
    display:none;
}
.ul1:hover ul{
    display:block;
    z-index: 9999;
}
nav>.normal2>ul>li>a{
    display:inline-block;
    width:29px;
    height: 38px;
    padding-top:12px;
    text-align: center;
}
nav>.normal2>ul>li>a:hover{
    color:white;
}
.one {
	height: 479px;
	background: url(images/one.png) no-repeat scroll center;
	background-size: 850px;
    background-position: right; 
}
.one div h2,.two div h2,.three div h2,.four div h2{
    padding:25px 0px 0px 30px;
}
.one i,.two i,.three i,.four i{

    padding-left:27px;
}
.one div h3,.two div h3,.three div h3,.four div h3{
    padding:200px 0px 0px 30px;
}   
.one div h4,.two div h4,.three div h4,.four div h4{
    padding:0px 0px 0px 30px;
}
.one p,.two p,.three p,.four p{
    padding:15px 0px 0px 30px;
}
.div1 button {
    width: 100px;
	height: 40px;
	margin-top: 30px;
	border-radius: 10px;
	background:skyblue;
    margin-left: 30px;
    box-shadow: 4px 4px #c1bdbd;
}
.div1 button:hover{
    background:white;
}
.blue{
    color:skyblue;
}
.red{
    color:coral;
}
.two {
	height: 479px;
	background: url(images/two.png) no-repeat scroll center;
	background-size: 850px;
    background-position: right; 
}
.three{
	height: 479px;
	background: url(images/three.png) no-repeat scroll center;
	background-size: 850px;
    background-position: right; 
}
.four{
	height: 479px;
	background: url(images/four.png) no-repeat scroll center;
	background-size: 850px;
    background-position: right; 
}
.art{
    display:block;
    background-color: aqua;
    float: left;
}
