*{
    margin:0;
    padding:0;
   
}
body{
    background:red;
}
h1{text-decoration: underline;}
#text{
    display: none;
}
#text li{
    list-style: none;
}
#main{
    margin: 0 auto;
    background-color:coral;
    width: 40%;
    text-align: center;
}