*{
    box-sizing: border-box;
}
.container{
	display: flex;
	flex-wrap: wrap;
}
h1{
    flex-grow: 1;
    flex-basis: 100%;
    background: #18c1c170;
    margin: 0;
    text-align: center;
    padding: 20px;
    color: #e66b6b;
    text-shadow: 3px 3px 3px black;
}
.column{
	flex-grow: 1;
	flex-basis: 300px;
}
.container .column:nth-child(1) {
  background: red;
}
.container .column:nth-child(2){
	background:green;
}
.container .column:nth-child(3){
	background:blue;
}
.container .column:nth-child(4){
	background:Yellow;
}
img{
	width: 99%;
	padding: 1%
}