*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style: none;
}
.mainsize{
    width: 1020px;
    margin:0 auto;
}
header{
    background:rgba(220,220,220,0);
    display:flex;
    border-bottom:solid 1px black;
}
body header ul{
/*
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
*/
    flex-wrap: wrap;
    display:flex;
    padding: 16px 0;
    align-items:center ;
    justify-content:right ;
    
}
#fstone{
    flex-grow: 2;
}  

/*
#ul li{
    min-height: 130px;
    font-weight:900;
    padding:115px;
    margin:0 15px;
    color:darkolivegreen;
    font-size:15px;
    display:flex;
    text-align: center;
    box-shadow:-7px -7px 20px 0 rgba(255,255,255,0.7),7px 7px 20px 0 rgba(0,0,0,0.2);  
}
*/
#ul li{
    font-weight:580;
    padding:10px;
    margin: 0 15px;
    color:darkolivegreen;
    font-size:15px;
    box-shadow:-7px -7px 20px 0 rgba(255,255,255,0.7),7px 7px 20px 0 rgba(0,0,0,0.2);  
    text-align: center;
    
    
}
#ul li:hover{
    cursor:pointer;
    box-shadow:inset -7px -7px 20px 0 rgba(255,255,255,0.7), inset 7px 7px 20px 0 rgba(0,0,0,0.2);
}