*{
    margin:0px;
    padding:0px;
}
.one{
    width:200px;
    height:200px;
    background-color:lawngreen;
    padding:10px 10px;
    margin:5px 4px;
    box-sizing:border-box;
    border:double 5px black;
    overflow:auto;
    text-align:center;
}
.two{
    width:200px;
    height:200px;
    background-color:darkviolet;
    padding:10px 12px;
    margin:10px 4px 2px 10px;
    box-sizing:content-box;
    border-style: dotted dashed solid double;
    border-width:10px;
    border-color:aqua;
    overflow-x:hidden;
    overflow-y:scroll;
    text-align: left;
    float:left;
    clear:both;
}
.three{width:200px;
    height:200px;
    background-color:orangered;
    padding:10px 10px;
    margin:5px 4px;
    box-sizing:border-box;
    border:double 5px black;
    overflow:auto;
    
    }
.four{}