*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #e4e7e5;
}
.active{
    color:#89FFE9;
}
.container,.backpic{
    width:1020px;
    margin: 0 auto;
}
.left,.post article,.footer div{float: left}
.right{float: right}
header{
    background: #626262;
    height: 50px;
}
nav{
    color: #fff;
    padding-top: 10px;
}
#logo{
    float: left;
}
#logo>i,nav i,.info i,.address i,.social i{
    padding-right: 5px;
}
nav ul{
    float: right;
}
nav li{
    list-style: none;
}
nav>ul>li{
    display: inline-block;
    position: relative;
}
nav>ul>li>ul{
    position: absolute;
}

.slider .item {
	background: url(images/UaBq5LGpJQd3DDo6ve2dFW.png) no-repeat ;
	height: 400px;
	margin-bottom: 14px;
	color: white;
    background-size: 100% 100%;
}
.backpic{
    padding-top: 92px;
}
.backpic button {
	width: 100px;
	height: 40px;
	margin-top: 60px;
	border-radius: 10px;
	background-color: orange;
}

.course ul{
    display: none;
}
.course:hover ul{
    display: block;
    z-index: 9999;
}

nav a:hover,.post button:hover,.social i:hover,.address p:hover,.address a:hover{
    color:#89FFE9;
}

nav a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
    width: 120px;
    height: 30px;
    padding-top:6px;
    background-color: #626262;
    text-align: center;
}
.post article,.footer div{
    width:30%;
    margin:17px;
}
.post h2,footer h2{margin: 10px 0;}
.post article p{
    text-align: justify;
}
.post img {
	width: 100%;
	border-radius: 35px;
	box-shadow: 6px 6px #c1bdbd;
}
.post button {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	background: #626262;
	color: #fff;
    border-radius: 35px;
}
footer {
	background: #626262;
	color: #fff;
	clear: both;
	height: 150px;
}
.footer div{
    text-align: center;
}
.footer p{
    line-height: 150%;
}
.social i{
    color: #fff;
    font-size: 35px;
}
.address{
    border-left: 2px solid #8a8a8a;
    border-right: 2px solid #8a8a8a;
}
.address a{
    text-decoration: none;
    color:#fff;
}
