*{
    margin:0;
    padding:0;
   
}
body{
    background-color:aqua;
}
h1{text-decoration: underline;}
#textone{
    display: none;
}
#textone li{
    list-style: none;
}
#maindiv{
    margin: 0 auto;
    background-color:aquamarine;
    width: 40%;
    text-align: center;
}
#warningone{
    display:none;
}