@font-face {
    font-family: 'georgia';
    src: url('../fonts/Georgia.woff2') format('woff2'),
         url('../fonts/Georgia.woff') format('woff');
    src: url('../fonts/Georgia.eot');
    src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/Georgia.svg#Georgia') format('svg');
    src: url('../fonts/Georgia.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
