/*Desktop device 1200px*/
@media only screen and (min-width:992px) and (max-width:1199px) {



}


/*Medium device 991px*/
@media only screen and (min-width:768px) and (max-width:991px) {
   


}

/*Mobile device 320px*/
@media only screen and (max-width:767px) {

    .collapse.navbar-collapse.show {
        padding-top: 40px;
        background: #222;
    }
    .navbar-expand-md .navbar-nav a {
        border-right:none;
        padding: 5px 12px !important;
        border-bottom: 1px solid;
    }
}

/*Ipade device 480px*/
@media only screen and (min-width:480px) and (max-width:767px) {
   
}

