*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.maindiv div{
			background: #025464;
			text-align: center;
			padding: 20px;
			color:#fff;
			margin: 1px;
			border:3px #C4DFE6 solid;
            
}
.maindiv{
    background-color: #861bCD;
	height: 800px;
	margin: 10px;
	flex-wrap: nowrap;
	display: flex;
	flex-direction: row;
  
}
#home{
    flex-grow:1;
/*    flex-basis:200px; eta hocce flex kore max size but
    fle grow on thakle eta kaj korbe na*/
}
#thana{
/*    flex-grow:1; glor/shrink*/
	flex-basis: 200px;
	flex-shrink: 8;
    
}
#zila{
    flex:initial;
    
}