.weq{
	background-color:rgb(0, 102, 75);
	color:#99ffe4;
	width:200px;
	height:200px;
	border-style:groove;
	border-width:10px;
	border-color:#ccfff1;
	display:block;
	padding-right:700px;
	margin:0;
}