*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear{clear:both;}
.active{
    font-weight: bold;
    color:#861BBF  !important;
}
.container{
	width:90%;
    margin:0 auto;  
}
#header {
    margin:25px 0px;
	display: flex;
	flex-wrap: wrap;
	
}
#header .logo,#header .search{
/*flex-grow: 1;*/
	flex-basis: 50%;
	flex-grow: 1;
}


h1 a{
    color:#861BBF;
    text-decoration: none;
    font-size:50px;
    font-weight: 100;
}
.search{
    background-color: #C8EC7B;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 400px;
	height: 80px;
}
.search input{
    padding: 5px;
    font-size:15px;
    font-weight: bolder;
    border:1px solid #C8D03E;
}
.search input[type=submit]{
    background-color: #A751D6;
    color:#fff;
}
.search input[type=text]{
    background:#fff url(assets/images/search.png) no-repeat right;
    padding-right: 25px;
}

#menu{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
    margin:10px 0;
	padding:20px 0;
    background: linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
}
#menu a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #5d12e7;
    padding: 0 20px;
    border-right: 1px solid;
    transition:all .5s;
    font-weight: 100;
}
#menu a:last-child{
    border-right:none;
}
#menu a:hover,.content ul li a:hover{
    font-weight: bold;
    font-size:22px;
    color:#861BBF;
}
.article{
    background: linear-gradient(#E5F2BB, #B7E952);
    background: -webkit-linear-gradient(#E5F2BB, #B7E952);
    background: -0-linear-gradient(#E5F2BB, #B7E952);
    background: -moz-linear-gradient(#E5F2BB, #B7E952);
    font-size: 180%;
    padding:25px;
    color:#628F19;
    margin: 25px 0;
}
.article h1{
    font-weight: 100;
    margin:40px 0px;
    color:#316901; 
}
.main-content{
	display: flex;
	flex-wrap: wrap;
}
.content{
	flex: 49%;
	margin: .5%;
	padding:5px;
	border:1px solid;
    border-color:#BAF46F;
	padding: 25px;
    border-radius: 20px;
}

.content>div{
	width:100%;
	height: 100%;
}
.left-content a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #5d12e7;
    transition:all .5s;
    font-weight: 100;
}
.right-content a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #5d12e7;
    transition:all .5s;
    font-weight: 100;
}
.content h1{
    color:darkmagenta;
    padding:25px 0;
}
.left-content ul li{
    background-image: url(assets/images/arrow.png);
	padding: 0 30px !important;
}
.right-content ul li{
    background-image: url(assets/images/tick.png);
    background-position: left top;
	padding: 17px 0 17px 70px;
}
.content ul li{
    background-repeat: no-repeat;
    background-position: 0;
    list-style: none; 
}
.content ul li a{
    line-height: 30px;
    text-transform: capitalize;
}
#footer{
	padding: 30px;
    margin-bottom: 0;
    margin:20px 0;
    height: 80px;
    background: linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
}

/*screen will be changed vertically*/
@media only screen and (max-width: 768px) {
	#menu {
		flex-direction: column;
		flex-basis: 400px;
		align-content: center;
	}
	#menu a{
		border-right: none;
	}
}
