* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#one,
#three,
#five,
#six,
#seven {
    background-image: linear-gradient(red, white, blue);
}
section {
    height: 100px;
    text-align: center;
    border:4px solid orange;
    flex-basis: 200px;
}
#two {
    background-color: yellow;
    flex-grow:4;
}
#four {
    background-color: lawngreen;
    flex-shrink: 3;
}
div{
   
    background:black;
    display:flex;
    justify-content: center;
    flex-wrap:nowrap;
    align-items: center;
    height:300px;
    
    

    
}
