@import 'partial';
footer{
    background-color:$navbg;
    border-top: 1px solid #373432;
    color:$gray;
    h6{
        @include font(12px,14.4px);
        @include pm($px:20px 0);
    }
    .footer_top{
        @include pm($px:25px 0);
        .about img{
            padding: 4px;
            border: 1px solid #333;
            max-width: 100%;
        }
        .link_block ul li{
            border-bottom: 1px solid #373432;
            list-style: none;
            a{
              @include font($lineHeight:27.6px);
              @include pm($px:5px 0);
            }
        }
        .blog b{font-size: 14px;}
        .contact form input{
            background-color: #2c2c2c;
            color:$gray;
            @include pm($px:10px);
            @include pm($mb:10px);
            width: 100%;
            border-radius:10px;
            border:none;
        }
        .contact form input[type="submit"] {
            font-weight: bold;
            color:$white;
            cursor: pointer;
            text-transform: uppercase;
            width:80px;
            background-color: #7c9c37;
        }
        a:hover,.contact form input[type="submit"]:hover{
            color:#666666;
            background-color: #222222;
        }

    }
    .bottom_bg{
        border-top: 1px solid #373432;
        .footer_bottom{
            @include font($lineHeight:14.4px);
            p{
                @include pm($px:20px,$mb:0 !important);
            }
            p:first-child{
                float: left;
            }
        }
    }

}