.header_top{
    height: 35px;
    padding:5px 15px;
    p{
        color:$litegray;
        float: left;
        display: inline-block;
        padding: 5px 0;
        margin: 0;
        a{
            color:$litegray;
        }
    }
    form{
        .input-group{
            input[type=text]{
                width: 210px;
                border-radius: 15px 0 0 15px;
                background-color:$searchbg;
                border: none;
                height: 25px;
                padding: 2px 30px 1px 10px;
                color:$litegray;
            }
            .input-group-append {
                button.btn{
                border: none;
                padding: 0px 4px 1px 5px;
                background-color: #e1e1e1;
                overflow: hidden;
                border-radius: 0 12px 12px 0;
                    img{
                        width: 17px;
                        height: 20px;
                        padding-bottom: 3px;
                    }
                }
             }
        }
    }
}