.nav_bg{
    background-color:$navbg;
    border-bottom: 2px solid $green;
    nav{
        height: 95px;
    }
    .logo h1{
        font-variant: small-caps;
        position: relative;
        @include font(26px,26px,$white);
        margin-top:0;
    }
    .logo h1:after{
    content: 'Free PSD Website Template';
    @include font(12px,12px,$white);
    position:absolute;
    bottom:-20px;
    left:2px;
    font-variant: normal;
    }
    .navbar-collapse{
        a{
        @include font(12px,12px,$white);
        border-right:1px solid #828282;
        padding: 0px 20px !important;
            span{
                @include font(12px, 19.2px, $white);
                font-family:Arial, Helvetica, sans-serif !important;
                text-transform: none;
                padding-top: 4px;
                display: inherit;
            }
        }
        a.active,a:hover{
            color:$green;
        }
        a:last-child{
            border-right:none;
            padding-right: 0 !important;
        }
    }
}