$georgia:georgia;
$green:#7c9c37;
$gray:#666666;
$litegray:#696969;
$white:#ffffff;
$black:#000000;
$searchbg:#e1e1e1;
$navbg:#222222;
$cardbodybg:#f0f0f0;
%owlbtn{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    border-radius: 100%;
}
%owlbtnhover{
    background: rgba(26, 28, 39, .6);
    border-radius: 100%;
}
%shadow-none{
    outline:0px solid;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
%hr{
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(232, 232, 232, .2)), color-stop(rgba(232, 232, 232, 0.8)), to(rgba(232, 232, 232, .2)));
    background-image: linear-gradient(to right, rgba(232, 232, 232, .2), rgba(232, 232, 232, 0.8), rgba(232, 232, 232, .2));
    height: 3px !important;
    border:none !important;
    width:80%;
}
@mixin pm($pt:null,$px:null,$pb:null,$mb:null,$mt:null,$mx:null){
    padding-top:$pt;
    padding-bottom:$pb;
    padding:$px;
    margin-top:$mt;
    margin-bottom:$mb;
    margin:$mx;

}
@mixin font($fontSize:null,$lineHeight:null,$fontColor:null){
    font-family:georgia !important;
    font-size: $fontSize!important;
    line-height: $lineHeight;
    color:$fontColor;
}