.shout{
    h1{
        @include font(28px,42px,#333333 );
        font-style: italic;
        text-align: center;
        @include pm($pt:50px);
    }
    hr{
    @extend %hr;
    @include pm($mx:50px auto !important);
    }
}

.latest_work{
    .card-body{
        background-color:$cardbodybg;
    }
    hr{
    @extend %hr;
    @include pm($mx:50px auto !important);
    }
}
.service{
    @include font(13px,20.8px);
    h6{
        @include font(18px,21.6px);
    }
    h5{
        @include font(14px,16.8px);
    }
    .fas{
        font-size: 38px;
        margin-right: 5px;
        width: 48px;
        height: 48px;
    }
}
.team_member{
    .card{
        border:none;
    }
}