.sliderbody{
    background-image: url(Images/bbg.gif);
    #owl_one{
            .item{
                height: 380px;
                .caption{
                    height:100px ;
                    width:100%;
                    background: rgba(0, 0, 0, .7);
                    color:#c0c0c0;
                    position: absolute;
                    bottom:0;
                    }
            }
            .owl-nav{
                button:focus{
                    outline:none !important;
                }
                button.owl-prev{
                    @extend %owlbtn;
                    left:0;
                }
                button.owl-next{
                    @extend %owlbtn;
                    right:0;
                }
                button:hover{
                    @extend %owlbtnhover;
                }
            }
            .owl-dots{
                position: absolute;
                top:0;
                right:5px;  
            }
    }
}