@import 'partial';
body{
    @include font(12px,19.2px,$gray);
    a,a:active,a:focus,a:hover,a.active{
        text-decoration: none;
    }
}
a,a:active,a.active,a:focus{
    color:$green;
}
.form-control:focus,a:focus,.btn:focus{
    @extend %shadow-none;
}
@import 'header';
@import 'navbar';
@import 'slider';
@import 'section';
@import 'footer';
