*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.maindiv div{
			background: #025464;
			text-align: center;
			padding: 20px;
			color:#fff;
			margin: 1px;
			border:3px #C4DFE6 solid;
}
.maindiv{
    display:flex;
    flex-wrap: wrap;
/*    flex-direction: column; column korle upor thike nise r raw korl bam thike dan*/
}
#home{
    width:250px;
}
