#one,#two,#three,#body{
    margin:0px;
    
}
.one{
    width:100px;
    height:100px;
    background-color:lightcoral;
    margin-top:0px;
    margin-bottom:5px;
    margin-right:0px;
    margin-left:5px;
    border:5px solid black;
    
    
}
.two{
    width:100px;
    height:100px;
    background-color:fuchsia;
    margin:10px 10px;
    padding-top:20px;
    padding-left:20px;
    box-sizing: border-box;
    border: 5px dashed black;
}
.three{
    width:100px;
    height:100px;
    background-color:yellow;
    margin:15px 10px 8px 15px;
    padding:15px 10px 14px 10px;
    box-sizing: content-box;
    border:groove;
}