@keyframes ashikAnimation {
    from{
        transform: scale(2,1);
        -webkit-transform: scale(2,1);
        -moz-transform: scale(2,1);
        -ms-transform: scale(2,1);
        -o-transform: scale(2,1);
    } 
    to{
        background-image: linear-gradient(white,black,orange);
        transform: rotate(15deg);
    }
}

@keyframes nahidAnimation {
     0%  {
            position: relative;
            background-color:red;
            left:0px;
            top:0px;
            opacity:0;
        }
      25%  {
            position: relative;
            background-color:yellow;
            left:200px; top:0px;
            opacity:0;
        }
      50%  {
          position: relative;
          background-color:blue;
          left:200px; top:200px;
        }
      75%  {
          position: relative;
          background-color:green;
          left:0px; top:200px;
        }
      100% {
          position: relative;
          background-color:red; left:0px; top:0px;
        }

}

@keyframes basedAnimation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


