*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ashik,#nahid,#based{
    height: 150px;
    width:250px;
    margin:10px;
    border:2px solid red;
}

#ashik{
    background-image: linear-gradient(red,green,blue);
    animation-name: ashikAnimation;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
}
#nahid {
    background-image: radial-gradient(circle, red 30%,green 14%);
    animation-name: nahidAnimation;
    animation-duration: 10s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: ease-in;
    
}
#nahid:hover{
    animation-play-state: paused;
}
#based{
    position:relative;
    background-image: linear-gradient(to top, red,green,blue);
    animation: basedAnimation 5s linear 3s infinite  alternate backwards running; 
}