/*

Example of a CSS Rules
----------------------

selector{
    property:value;
    property2:value2;
    propertyN:valueN;
}

*/


h4{
    color:red;
}
p{
    color:red;
    background-color:green;
/*    width:auto;*/
/*    width:320;*/
    width:20em;

}