.sliderbody #owl_one .owl-nav button.owl-next, .sliderbody #owl_one .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 100%;
}

.sliderbody #owl_one .owl-nav button:hover {
  background: rgba(26, 28, 39, 0.6);
  border-radius: 100%;
}

.form-control:focus, a:focus, .btn:focus {
  outline: 0px solid;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.latest_work hr, .shout hr {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(232, 232, 232, 0.2)), color-stop(rgba(232, 232, 232, 0.8)), to(rgba(232, 232, 232, 0.2)));
  background-image: linear-gradient(to right, rgba(232, 232, 232, 0.2), rgba(232, 232, 232, 0.8), rgba(232, 232, 232, 0.2));
  height: 3px !important;
  border: none !important;
  width: 80%;
}

body {
  font-family: georgia !important;
  font-size: 12px !important;
  line-height: 19.2px;
  color: #666666;
}
body a, body a:active, body a:focus, body a:hover, body a.active {
  text-decoration: none;
}

a, a:active, a.active, a:focus {
  color: #7c9c37;
}

.header_top {
  height: 35px;
  padding: 5px 15px;
}
.header_top p {
  color: #696969;
  float: left;
  display: inline-block;
  padding: 5px 0;
  margin: 0;
}
.header_top p a {
  color: #696969;
}
.header_top form .input-group input[type=text] {
  width: 210px;
  border-radius: 15px 0 0 15px;
  background-color: #e1e1e1;
  border: none;
  height: 25px;
  padding: 2px 30px 1px 10px;
  color: #696969;
}
.header_top form .input-group .input-group-append button.btn {
  border: none;
  padding: 0px 4px 1px 5px;
  background-color: #e1e1e1;
  overflow: hidden;
  border-radius: 0 12px 12px 0;
}
.header_top form .input-group .input-group-append button.btn img {
  width: 17px;
  height: 20px;
  padding-bottom: 3px;
}

.nav_bg {
  background-color: #222222;
  border-bottom: 2px solid #7c9c37;
}
.nav_bg nav {
  height: 95px;
}
.nav_bg .logo h1 {
  font-variant: small-caps;
  position: relative;
  font-family: georgia !important;
  font-size: 26px !important;
  line-height: 26px;
  color: #ffffff;
  margin-top: 0;
}
.nav_bg .logo h1:after {
  content: "Free PSD Website Template";
  font-family: georgia !important;
  font-size: 12px !important;
  line-height: 12px;
  color: #ffffff;
  position: absolute;
  bottom: -20px;
  left: 2px;
  font-variant: normal;
}
.nav_bg .navbar-collapse a {
  font-family: georgia !important;
  font-size: 12px !important;
  line-height: 12px;
  color: #ffffff;
  border-right: 1px solid #828282;
  padding: 0px 20px !important;
}
.nav_bg .navbar-collapse a span {
  font-family: georgia !important;
  font-size: 12px !important;
  line-height: 19.2px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif !important;
  text-transform: none;
  padding-top: 4px;
  display: inherit;
}
.nav_bg .navbar-collapse a.active, .nav_bg .navbar-collapse a:hover {
  color: #7c9c37;
}
.nav_bg .navbar-collapse a:last-child {
  border-right: none;
  padding-right: 0 !important;
}

.sliderbody {
  background-image: url(Images/bbg.gif);
}
.sliderbody #owl_one .item {
  height: 380px;
}
.sliderbody #owl_one .item .caption {
  height: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #c0c0c0;
  position: absolute;
  bottom: 0;
}
.sliderbody #owl_one .owl-nav button:focus {
  outline: none !important;
}
.sliderbody #owl_one .owl-nav button.owl-prev {
  left: 0;
}
.sliderbody #owl_one .owl-nav button.owl-next {
  right: 0;
}
.sliderbody #owl_one .owl-dots {
  position: absolute;
  top: 0;
  right: 5px;
}

.shout h1 {
  font-family: georgia !important;
  font-size: 28px !important;
  line-height: 42px;
  color: #333333;
  font-style: italic;
  text-align: center;
  padding-top: 50px;
}
.shout hr {
  margin: 50px auto !important;
}

.latest_work .card-body {
  background-color: #f0f0f0;
}
.latest_work hr {
  margin: 50px auto !important;
}

.service {
  font-family: georgia !important;
  font-size: 13px !important;
  line-height: 20.8px;
}
.service h6 {
  font-family: georgia !important;
  font-size: 18px !important;
  line-height: 21.6px;
}
.service h5 {
  font-family: georgia !important;
  font-size: 14px !important;
  line-height: 16.8px;
}
.service .fas {
  font-size: 38px;
  margin-right: 5px;
  width: 48px;
  height: 48px;
}

.team_member .card {
  border: none;
}

.sliderbody #owl_one .owl-nav button.owl-prev, .sliderbody #owl_one .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 100%;
}

.sliderbody #owl_one .owl-nav button:hover {
  background: rgba(26, 28, 39, 0.6);
  border-radius: 100%;
}

.form-control:focus, a:focus, .btn:focus {
  outline: 0px solid;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.shout hr, .latest_work hr {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(232, 232, 232, 0.2)), color-stop(rgba(232, 232, 232, 0.8)), to(rgba(232, 232, 232, 0.2)));
  background-image: linear-gradient(to right, rgba(232, 232, 232, 0.2), rgba(232, 232, 232, 0.8), rgba(232, 232, 232, 0.2));
  height: 3px !important;
  border: none !important;
  width: 80%;
}

footer {
  background-color: #222222;
  border-top: 1px solid #373432;
  color: #666666;
}
footer h6 {
  font-family: georgia !important;
  font-size: 12px !important;
  line-height: 14.4px;
  padding: 20px 0;
}
footer .footer_top {
  padding: 25px 0;
}
footer .footer_top .about img {
  padding: 4px;
  border: 1px solid #333;
  max-width: 100%;
}
footer .footer_top .link_block ul li {
  border-bottom: 1px solid #373432;
  list-style: none;
}
footer .footer_top .link_block ul li a {
  font-family: georgia !important;
  font-size: !important;
  line-height: 27.6px;
  padding: 5px 0;
}
footer .footer_top .blog b {
  font-size: 14px;
}
footer .footer_top .contact form input {
  background-color: #2c2c2c;
  color: #666666;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
}
footer .footer_top .contact form input[type=submit] {
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  width: 80px;
  background-color: #7c9c37;
}
footer .footer_top a:hover, footer .footer_top .contact form input[type=submit]:hover {
  color: #666666;
  background-color: #222222;
}
footer .bottom_bg {
  border-top: 1px solid #373432;
}
footer .bottom_bg .footer_bottom {
  font-family: georgia !important;
  font-size: !important;
  line-height: 14.4px;
}
footer .bottom_bg .footer_bottom p {
  padding: 20px;
  margin-bottom: 0 !important;
}
footer .bottom_bg .footer_bottom p:first-child {
  float: left;
}

/*# sourceMappingURL=style.css.map */
