*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-image: linear-gradient(red,green,blue);
    border:2px solid red;
    height: 100px;
/*    flex-grow: 1;*/
    flex-basis: 200px;
}

#hover{

    background:black;
    display: flex;
    height: 300px;
/*    flex-direction: column;*/
/*    flex-direction: column-reverse*/
/*    flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
#Two{
    background:red;
/*    flex-grow: 3;*/
    flex-shrink: 2;
    align-self: center;
}
#Seven{
    background:blue;
/*    flex-grow: 5;*/
    flex-shrink: 5;
}