
*{
margin:0px;
padding:0px;
}

.body{
    background-color:#72d7ed;
    background-image:url(pic/ea80e8bcf70c0a180cdc6905afb3f1c1.png);
    background-attachment:fixed; 
}
.welcome{
    background-image: url(pic/keyboard.png);
    background-color:rgba(79, 127, 130,.3);
    text-align:center;
    padding-top:5px;
    padding-bottom: 10px;
    background-attachment: fixed;
    margin-bottom:3px;
    font-size:30px;
    font-variant: small-caps;
    line-height: 100%;
    text-shadow:5px 5px 5px #7f87f5;
    font-weight:bolder;
    visibility: visible;
    transition:all 3s;
    
    
}
.head{
    background-image:url(pic/8FtdRm.png);
    text-align: center center;
    background-repeat:repeat;
    width:1000px;
    height:200px;
    border-style:double groove groove groove;
    border-color:#CBC5F5;
    border-width:50px;
    box-sizing: border-box;
    background-position:center right;
    margin:50px auto;
    margin-top:0px;
    transition:height 5s;
    overflow: auto;
    transition-delay: 1s;
  
}

.pera{
    font-weight:normal;
    color:black;
    text-shadow:none;
    text-align: justify;
    text-align-last: center;
   
}
#w{
    margin-top:25px;
    color:red;
    font-weight: 900;
    letter-spacing:5px;
    text-align:center;
    line-height: 100%;
    text-shadow:5px 2px 2px black; 
    text-decoration-line: underline;
}
.h{
    box-sizing:content-box;
}
p{
   font-weight:500;
    color:black;
    text-overflow:clip;
}
.one,.two,.three{
    margin:7px 29px 110px 207px;
    box-sizing:border-box; 
    transition: all 5s;
    transform: rotate(30deg) translate(50px,50px);       
    -o-transform: rotate(30deg) translate(50px,50px);        
    -moz-transform:rotate(30deg) translate(50px,50px);            
    -webkit-transform: rotate(30deg) translate(50px,50px);
    overflow:hidden;
    
}

.one{
    
    background-image:url(pic/divone.png);
    background-repeat:no-repeat;
    height:100px;
    width:100px;
    float:left;
    border:20px ridge rgba(160,165,232,.4);
}


.two{
    background-image:url(pic/divtwo.png);
    background-repeat:no-repeat;
    height:100px;
    width:100px;
    float:left;
    border:20px ridge rgba(160,165,232,.4);
    
}
.three{
    background-image:url(pic/divfour.png);
    background-repeat:no-repeat;
    height:100px;
    float:left;
    width:100px;
    border:20px ridge rgba(160,165,232,.4);
      
}
#divone,#divtwo,#divthree{
    margin:0px 50px 0px 60px;
    background-color:rgb(160,165,232,);
    sbackground-color:beige;
    width:300px;
    float:left;
    text-align: justify;
    height:700px;
    
}

#divone{
   overflow:hidden;
   
}

#divtwo{
    overflow:auto;
      
}
#divthree{
    overflow:hidden;
   
}
.map{
    margin:10px 10px 10px 61px;
}
.one:hover{
    border: 20px ridge #82fab8;
    opacity:;
    width:225px;
    height: 236px; 
}
.two:hover{
    border: 20px ridge #82fab8;
    opacity:;
    width:225px;
    height: 236px;
    
}
.three:hover{
    border: 20px ridge #82fab8;
    opacity:;
    width:225px;
    height: 236px;
    
}
.head:hover{
    border-style:double groove groove groove;
    border-color:#d5f5f7;
    border-width:50px;
    opacity:.9;
    height:400px;
    
}
.welcome:hover{
     visibility: hidden;
}
#divone:hover{
    background-color:rgba(160,165,232,.4);
       
}
#divtwo:hover{
    background-color:rgba(160,165,232,.4);
}  
#divthree:hover{
    background-color:rgba(160,165,232,.4);
}
