*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.maindiv div{
			background: #025464;
			text-align: center;
			padding: 20px;
			color:#fff;
			margin: 1px;
			border:3px #C4DFE6 solid;
}
.maindiv{
    display:flex;
    flex-wrap: wrap;
/*    flex-direction:column;*/
    flex-direction: row;
    justify-content: center;
/*    align-items: center;column e kaj kore eta*/
    
    
}