
.body{
	color:blue;
	background:#e6fff8;
	
}
.h31{
	color:blue;
	text-align:center;
	text-style:bold;
	margin-top:0px;
	margin-bottom:0px;
}
.h6{
	color:black;
	text-align:center;
	margin-top:0px;
	
}
.div4{
	text-align:center;
}
.div2{
	margin: auto;
	width: 100px;
	height:100px;
	text-align:center;
	overflow-x:hidden;
}
.small1{
	color:;
	
	
}
#small2{
	color:;
	
	
}
small{
	color:green;
	
}
