
body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(img/img.png);
    background-size: cover;
    background-position: center;
    
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 110px auto;
    color: aquamarine;
}
.login-left{
    background: rgba(211,211,211,0.5);
    padding: 30px;
}
.login-right{
    background: #fff;
    padding: 30px;
}